.app {
  min-height: 100vh;
}

blockquote {
  display: block;
  margin: 0 0.5em;
  padding: 0 0.5em;
  color: $gray-600;
  border-left: 0.25em solid $gray-500;
}

pre {
  background-color: $gray-200;
  padding: 0.5rem;
}
